:root {
  --primary: #F89A1C;
  --primary-4: #D5F5E4;
  --primary-5: #FFFBEF;
  --secondary-1: #2584AD;
  --secondary-5: #F4FCFF;
  --mono-1: #E5E5E5;
  --mono-2: #C4C4C4;
  --mono-3: rgba(185, 185, 188, 0.72);
  --mono-4: rgba(196, 196, 196, 0.09);
  --mono-9: #1A1919;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  color: #000;
  font-size: 15px;
}


@media (min-width: 1200px){
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1300px;
  }
} 

@media (max-width: 991.98px){
  .navbar-expand-lg>.container{
    padding-right: 16px;
    padding-left: 16px;
  }
}

.navbar-light .navbar-nav .nav-link{
  padding-left: 20px;
  padding-right: 20px;
  color: #000;
}

.navbar-light .navbar-nav .nav-item.active{
  position: relative;
}

.navbar-light .navbar-nav .nav-item.active .nav-link {
  color: var(--primary);
}

.navbar-light .navbar-nav .nav-item.active::after{
  content: "";
  position: absolute;
  bottom: -16px;
  border-bottom: 2px solid var(--primary);
  width: 100%;
}
  
.navbar-brand{
  margin-right: 64px;
}

.btn{
  font-size: 15px;
  border-radius: 2px;
  padding-left: 32px;
  padding-right: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn-lg{
  height: 53px;
}

.btn-md {
  height: 48px;
}

.cta-primary{
  background-color: var(--primary);
  color: #FFF;
}

.color-primary{
  color: var(--primary);
}

.font-normal{
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.border-none{
  border: none;
}

.form-control.lg{
  height: 55px;
}

.bg-secondary-1{
  background-color: var(--secondary-1);
}

.bg-primary{
  background-color: var(--primary)!important;
}

.bg-mono-1{
  background-color: var(--mono-1);
}

.bg-primary-5{
  background-color: var(--primary-5);
}

.bg-secondary-5 {
  background-color: var(--secondary-5);
}


@media only screen and (max-width: 991px) {
  .navbar-light .navbar-nav .nav-link {
    padding-left: 0;
    padding-right: 0;
  }
}

.typo-title {
  font-weight: 700;
  font-size: 40px;
}

.text-xxs{
  font-size: 10px;
}

.text-xl{
  font-size: 20px;
}

.text-xxl {
  font-size: 25px;
}

.text-2xl {
  font-size: 30px;
}

.text-3xl {
  font-size: 40px;
}

.text-4xl {
  font-size: 50px;
}

.header-title{
  padding: 32px 0;
  background-color: var(--primary-5);
}

.side-tab .left{
  background-color: var(--mono-4);
  padding-left: 100px;
  padding-top: 72px;
  padding-bottom: 148px;
}

.side-tab .nav-pills .nav-link.active,
.side-tab .nav-pills .show>.nav-link{
  background-color: unset;
  color: var(--primary);
}

.side-tab .nav-pills .nav-link.active::after{
  font-family: "Font Awesome 5 Free";
  content: "\f35a";
  position: absolute;
  margin-left: 20px;
  margin-top: 2px;
}

.side-tab .nav-pills .nav-link,
.side-tab .nav-pills .show>.nav-link {
  color: black;
  padding: .75rem 0;
}

.side-tab .right {
  padding-left: 60px;
  padding-top: 72px;
  padding-right: 100px;
}

.list-none{
  list-style: none;
  padding-inline-start: 20px;
}

footer{
  padding-top: 80px;
}

footer.footer-one{
  
}

footer.footer-one .footer-bottom{
  background-color: white;
}


.footer .container{
  padding-bottom: 55px;
}

footer .footer-bottom{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
}

section#hero{
  padding: 38px 0;
}


section#fiture{
  background-color: white;
  padding: 54px 0;
}

.icon-fiture {
  background-color: var(--primary-5);
  border-radius: 50%;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary);
}

section#about-us{
  position: relative;
}

section#about-us .img-left{
  position: absolute;
  height: 100%;
  height: -moz-available;
  height: -webkit-fill-available;
  height: fill-available;
}

section#about-us .img-right{
  position: absolute;
  right: 0;
  bottom: 0;
}

section#about-us .top{
  padding: 70px 0;
}

section#about-us .bottom{
  padding: 36px 0;
}

section#ekosistem{
  padding: 70px 0;
}

.card-ekosistem{
  background-color: white;
  display: flex;
}

.card-ekosistem .body{
  padding: 18px 18px 18px 24px;
}

section#service .left{
  padding: 114px 40px 114px 100px;
}

section#service .right {
  padding: 114px 100px 114px 56px;
}

section#started {
  padding: 51px 45px;
}

section#started .box{
  background: linear-gradient(134.86deg, #F89A1C 25.06%, rgba(254, 178, 76, 0.630573) 80.25%, rgba(255, 181, 81, 0.59) 80.26%);
  border-radius: 55px;
  color: white;
  padding: 38px 90px;
}


section#hero-kioson .left{
  padding: 75px 32px 75px 100px;
}

section#hero-kioson .right{
  background-image: url(../images/img-bg-kioson.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 75px 100px 75px 32px;
  display: flex;
  align-items: center;
}

.avatar-circle{
  background-color: var(--mono-2);
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

section#hero-rk .left {
  padding: 75px 32px 75px 100px;
}


section#hero-rk .right {
  background-image: url(../images/img-bg-rk.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 75px 100px 75px 32px;
  display: flex;
  align-items: center;
}